html, body {
    /*
     * Background pattern from Toptal Subtle Patterns 
     * https://www.toptal.com/designers/subtlepatterns/sakura/
     */
    font-family:  MEDIEVAL ;
    font-size: 120%;
    color: #000000;
    background-image: url(/assets/img/background.png);
}
.bloque {
    text-decoration: none;
    display: block;
    text-align: center;
    max-width: 400%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 0;
    
    font-family:  MEDIEVAL ;
    color: #000000;
     padding: 20px;
     margin-left: 5px;
     margin-top: 10px;
}

.bloque h3 {
    font-size: 150%;
    font-family:  MEDIEVAL ;
}
h2 {
    color: #141414; 
}

.Extra a{
    text-decoration: none;
    display: block;
    text-align: center;
    max-width: 400%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 0;
    font-size: 90%;
    font-family:  MEDIEVAL ;
    color: #141414; 
}
